
/* Product ToDo with LocalStorage Start */
/* *{
margin: 200px auto;
} */

.productAddBox{
    display: none;
    
}

.regular_price {
	text-decoration: line-through;
    
}
/* 004 Product ToDo with LocalStorage End */

